pandas
gspread
google-auth
oauth2client
plotly
Pillow
numpy
openpyxl
xlrd
lxml
html5lib
extra-streamlit-components
pdfplumber
geopy
fpdf2
google-generativeai
folium
staticmap
streamlit-folium
